node_modules/
Screenshots/
runner-results/
docker
Dockerfile
run-parallel.sh
allure-results/
allure-report/
results/
logs/
mochawesome-report/
reports/
merged-report.json
downloads/
reports/
cypress/secrets/   
cypress/secrets/test_jwt_secret.js
cypress/Email_verification/credentials.json
cypress/Email_verification/token.json